pom.xml
pom.xml.asc
figwheel_server.log
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
/resources/nginx/.ipynb_checkpoints
/js
/out
/resources/public/js/compiled
