/* some style */

.w3-container,.w3-panel{padding:0.01em 16px}.w3-panel{margin-top:16px;margin-bottom:16px}
.w3-pale-blue,.w3-hover-pale-blue:hover{color:#000;background-color:#ddffff}
.w3-leftbar{border-left:6px solid #ccc}.w3-rightbar{border-right:6px solid #ccc}
.w3-topbar{border-top:6px solid #ccc}.w3-rightbar{border-right:6px solid #ccc}
.w3-border-blue,.w3-hover-border-blue:hover{border-color:#2196F3}

.counter-div {padding:2px;overflow:hidden; }
.ard-wrapper {width:25%; text-align:center; float: right;}

.leftside {width:50%; float: left; padding:2px; text-align:center; /*border:1px solid black;*/}
.rightside {width:50%; float: right; padding:2px; text-align:center; /*border:1px solid black;*/}

#form-buttons {width: 70%; height:70px; text-align:left;}

#busy-container {
  height:70px;
  width:30%;
/*  border:1px solid black; */
}

#busydiv {
  display:none;
  height:69px;
  width:69px;
  float:left;
  position:relative;
/*  border:1px solid black; */
}

#error-container {
  height: 40px;
/*  border: 1px solid black; */
  color: red;
}

#ingesting-div {
  border-right:1px solid black;
}

#ingesting-list {
  font-size: x-small;
  text-align: left;
}
